# Comprehensions for Lists and Dicts

## Quick Recall of Looping over Lists and Dicts

Ref: Bootcamp Prep and Foundational Knowledge for Lists

### Iterate over a list, using a `for` loop, by element

In [1]:
# Iterating over a list
print("List Iteration")

course_list = ["msa", "cse", "6040"]

for element in course_list:
    print(element)

List Iteration
msa
cse
6040

### Iterate over a list, using a `for` loop, using a range() object

In [2]:
# output the index number

for index in range(len(course_list)):
    print(index, course_list[index])

0 msa
1 cse
2 6040

### Iterate over a dictionary, using a `for` loop and .items()

In [3]:
# Iterating over dictionary
print("\nDictionary Iteration")

course_dict = dict()

course_dict['0'] = "msa"
course_dict['1'] = "cse"
course_dict['2'] = '6040'

for k,v in course_dict.items() :
    print("{} : {}".format(k,v))

Dictionary Iteration
0 : msa
1 : cse
2 : 6040

# Comprehensions in Python

1. List Comprehension
2. Dictionary Comprehension

## This material is VERY DENSE!!

#### Do not be discouraged if you don't completely understand the below after the first pass tonight. Repetition and practice will be what you will need to do, in order to become proficient.

## Comprehensions Pros and Cons

#### Using loops is okay, and you don't have to use comprehensions. However, it is worth understanding comprehensions because they have their own benefits.

#### Pros:
-- Generally faster than for loops, especially for large datasets.

-- Takes less code to write and fits in a smaller space than a for loop.

#### Cons:
-- Can be less legible in certain situations.

-- Can be harder to implement for complicated operations in for loops.

***************************************************

As you progress through the course, you will see problem solutions that use comprehensions whenever possible which will enable you to wrap your head around them.

#### Advice â€“ Always pause and think if you can use a comprehension instead of a loop. Practice, Practice, Practice!!!

### 1. List Comprehension

A list comprehension consists of the following parts -
1. An Input Sequence.
2. A Variable representing members of the input sequence.
3. An optional Conditional Expression.
4. An Output Expression producing elements of the output list from members of the Input Sequence that satisfy the predicate.

![list_format.png](https://github.com/gt-cse-6040/bootcamp/blob/main/Module%200/Session%206/list_format.png?raw=1)

In [4]:
# loop format -- recall from above
range_list = []
for x in range(10):
    range_list.append(x)
display(range_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
# comprehension format
range_list_comp = [x for x in range(10)]
display(range_list_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Now let's add a level of complexity.

Let's create a list of mixed integers and strings, and only output a result if the input is an integer.

In [9]:
a_list = [1, '4', 9, 'a', 0, 4]
a_list

[1, '4', 9, 'a', 0, 4]

In [8]:
sq_list = []
for e in a_list:
    if(type(e) == int):
        sq_list.append(e*e)

sq_list

[1, 81, 0, 16]

![Screen%20Shot%202022-08-27%20at%206.23.51%20PM.png](https://github.com/gt-cse-6040/bootcamp/blob/main/Module%200/Session%206/list_format_2.png?raw=1)

In [10]:
a_list

[1, '4', 9, 'a', 0, 4]

In [11]:
squared_ints = [e**2 for e in a_list if type(e) == int]
print(squared_ints)

[1, 81, 0, 16]

#### Another example

In [14]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [15]:
# using a loop
new_list_loop = []
for number in my_list:
    # using modulus operator, which returns the remainder of a division
    # so this statement only returns even numbers
    if number % 2 == 0:
        new_list_loop.append(number)

new_list_loop

[2, 4, 6, 8, 10]

In [16]:
# list comprehension
new_list_comp = [number for number in my_list if number % 2 == 0]
new_list_comp

[2, 4, 6, 8, 10]

In [17]:
# loop using if else
new_list_loop_2 = []
for number in my_list:
    # using modulus operator, which returns the remainder of a division
    # so this statement only returns even numbers
    if number % 2 == 0:
        new_list_loop_2.append(number)
    else:
        new_list_loop_2.append(15)

new_list_loop_2

[15, 2, 15, 4, 15, 6, 15, 8, 15, 10]

In [18]:
new_list_1 = [number if number % 2 == 0 else 15 for number in my_list ]
new_list_1

[15, 2, 15, 4, 15, 6, 15, 8, 15, 10]

In [36]:
# string function in the comprehension
colors = ["pink", "white", "blue", "black", "purple"]
# [color.upper() for color in colors]
color_upper = []

for color in colors:
    color_upper.append(color.upper())

color_upper

['PINK', 'WHITE', 'BLUE', 'BLACK', 'PURPLE']

In [37]:
color_upper

['PINK', 'WHITE', 'BLUE', 'BLACK', 'PURPLE']

#### What if we want to take a list of names and change their format to be last name, first name?

Simple two step process, using list comprehensions. Note that there are `many ways` you can perform this operation, and we are just showing a simple way, to illustrate using comprehensions.

In [39]:
# list of names
presidents_usa = ["George Washington", "John Adams","Thomas Jefferson","James Madison","James Monroe","Andrew Jackson"]

In [41]:
# divide the names into first and last name elements
split_names = [name.split(" ") for name in presidents_usa]
split_names

[['George', 'Washington'],
 ['John', 'Adams'],
 ['Thomas', 'Jefferson'],
 ['James', 'Madison'],
 ['James', 'Monroe'],
 ['Andrew', 'Jackson']]

In [40]:
split_names_2 = []

for name in presidents_usa:
    split_names_2.append(name.split(" "))

split_names_2

[['George', 'Washington'],
 ['John', 'Adams'],
 ['Thomas', 'Jefferson'],
 ['James', 'Madison'],
 ['James', 'Monroe'],
 ['Andrew', 'Jackson']]

#### Now let's put them back together, in a last name, first name format

In [42]:
swapped_list = [split_name[1] + ", " + split_name[0] for split_name in split_names]
swapped_list

['Washington, George',
 'Adams, John',
 'Jefferson, Thomas',
 'Madison, James',
 'Monroe, James',
 'Jackson, Andrew']

In [43]:
swapped_list_2 = []

for split_name in split_names_2:
    swapped_list_2.append(split_name[1] + ", " + split_name[0])

swapped_list_2

['Washington, George',
 'Adams, John',
 'Jefferson, Thomas',
 'Madison, James',
 'Monroe, James',
 'Jackson, Andrew']

Let's now try to make this matrix using comprehensions. It will need a nested comprehension
![Screen%20Shot%202022-08-27%20at%206.35.38%20PM.png](https://github.com/gt-cse-6040/bootcamp/blob/main/Module%200/Session%206/matrix.png?raw=1)

In [44]:
cols = []
rows = []
for row in range(3):
    for col in range(3):
        if(col == row):
            cols.append(1)
        else:
            cols.append(0)
    rows.append(cols)
    cols = []
rows

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

In [45]:
identity_matrix = [ [ 1 if item_idx == row_idx else 0 for item_idx in range(0, 3) ] for row_idx in range(0, 3) ]

In [46]:
identity_matrix

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

### 2. Dictionary Comprehension

![dict_comp_format_2.png](https://github.com/gt-cse-6040/bootcamp/blob/main/Module%200/Session%206/dict_comp_format_2.png?raw=1)

#### Let's look at an example, using a single variable to create the key: value pair.

In [47]:
# create dictionary using for loop
loop_dict = {}  # create empty dict
for num in range(1,11):
    loop_dict[num] = num*num

loop_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

![dict_comp_format.png](https://github.com/gt-cse-6040/bootcamp/blob/main/Module%200/Session%206/dict_comp_format.png?raw=1)

In [48]:
comp_dict = {num: num*num for num in range(1,11)}
comp_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

#### What about dictionary comprehension with an if statement?

![dict_comp_format_3.png](https://github.com/gt-cse-6040/bootcamp/blob/main/Module%200/Session%206/dict_comp_format_3.png?raw=1)

In [49]:
persons = [
    {
        'name': 'Vuduc',
        'age': 40,
        'title': 'Data Scientist'
    },
    {
        'name': 'Sokol',
        'age': 45,
        'title': 'Data Engineer'
    },
    {
        'name': 'Wooley',
        'age': 43,
        'title': 'Program Director'
    }
]

In [51]:
# use a loop to create the dictionary
data_employees_loop = {}
for p in persons:
    if 'Data' in p['title']:
        data_employees_loop[p['name']] = p['title']
#     else:
#         print(p['name'])

In [52]:
data_employees_loop

{'Vuduc': 'Data Scientist', 'Sokol': 'Data Engineer'}

In [53]:
# create using dictionary comprehension
data_employees_comprehension = {p['name']:p['title'] for p in persons if 'Data' in p['title']}

In [54]:
data_employees_comprehension

{'Vuduc': 'Data Scientist', 'Sokol': 'Data Engineer'}

#### How about Removing Elements using dictionary comprehension?

In [55]:
from pprint import pprint

harry_potter_dict = {
    'Harry Potter': 'Wizard',
    'Hermione Granger': 'Witch',
    'Ron Weasley': 'Wizard',
    'Draco Malfoy': 'Wizard'
}

print("This is the original Harry Potter dictionary:")
pprint(harry_potter_dict)

# Remove 'Harry Potter'
new_dict = {k: v for k, v in harry_potter_dict.items() if k != 'Harry Potter'}

print("This is the new dictionary without 'Harry Potter':")
pprint(new_dict)

This is the original Harry Potter dictionary:
{'Draco Malfoy': 'Wizard',
 'Harry Potter': 'Wizard',
 'Hermione Granger': 'Witch',
 'Ron Weasley': 'Wizard'}
This is the new dictionary without 'Harry Potter':
{'Draco Malfoy': 'Wizard', 'Hermione Granger': 'Witch', 'Ron Weasley': 'Wizard'}

In [58]:
new_dict_2 = {}

for k,v in harry_potter_dict.items():
  if v != "Witch":
    new_dict_2[k] = v

new_dict_2

{'Harry Potter': 'Wizard', 'Ron Weasley': 'Wizard', 'Draco Malfoy': 'Wizard'}

.keys() are not subscriptable, meaning you cannot directly access elements using an index like [0].

In [59]:
print(harry_potter_dict.keys()[0])  #  TypeError: 'dict_keys' object is not subscriptable

TypeError: 'dict_keys' object is not subscriptable

To overcome this, we can use a list comprehension (or convert it to a list) to make it indexable a follows:

In [60]:
print([k for k in harry_potter_dict.keys()][0])  # Outputs: 'Harry Potter'

Harry Potter

In [64]:
# ANother way is to convert to a list
print(list(harry_potter_dict.keys())[0])

Harry Potter

### What are your questions on list and dictionary comprehensions?